<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>用户添加</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script src="/layui/layui.js"></script>
</head>
<body>
<form action="/addCourseWare" method="post" enctype="multipart/form-data">
    上传文件 <input type="file" name="file"/><br/>
    <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-inline">
            <select name="typeid" id="typeid"></select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-inline">
            <select name="courseid" id="courseid"></select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script>
    //Demo
    layui.use(['form','layer'], function(){
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;

        $(function () {
            $.ajax({
                url:"/getWareTypeList",
                success:function (res) {
                    var select = $("#typeid");
                    $.each(res,function (index,item) {
                        var option = $("<option value="+item.courseWareTypeId+">"+item.courseWareTypeName+"</option>");
                       option.appendTo(select);
                    })
                    form.render();
                }
            })

        })
        $(function () {
            $.ajax({
                url:"/getCourseList",
                success:function (res) {
                    var select = $("#courseid");
                    $.each(res,function (index,item) {
                        var option = $("<option value="+item.courseId+">"+item.courseName+"</option>");
                        option.appendTo(select);
                    })
                    form.render();
                }
            })

        })
        //监听新增用户提交
        form.on('submit(formDemo)', function(data){
            console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
            console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
            console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
            $.ajax({
                url:"addCourseWare",

                data:data.field,
                success:function (res) {

                    layer.msg(res.extend.msg);
                    var index = parent.layer.getFrameIndex(window.name);
                    setTimeout(function () {
                        parent.layer.close(index);//关闭当前页
                    }, 1000)
                },
                error:function () {
                    layer.msg("出错了");
                    var index = parent.layer.getFrameIndex(window.name);
                    setTimeout(function () {
                        parent.layer.close(index);//关闭当前页
                    }, 1000)
                }
            })
            return false;

        });
    });
</script>
</body>
</html>